@using StepByStep.Models
@model IEnumerable<Book>
@Html.Partial("Partial")
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (StepByStep.Models.Book b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
        @helper BookList(IEnumerable<StepByStep.Models.Book> books)
        {
            <ul>
                @foreach (StepByStep.Models.Book b in books)
                {
                    <li>@b.Name</li>
                }
            </ul>
        }
        <h3>Список книг</h3>
        @BookList(ViewBag.Books)
        @BookList(Model)
    </table>
</div>
@using StepByStep.Helpers
@Html.Image("/Content/cats1.jpg", "спящий котэ")